* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn1 {
    background-color: dodgerblue;
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn2 {
    @extend .btn1;
    background-color: red;
}