@import url('font.css');
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: list2;
	font: 400;
}
/*header start*/
.list {
	margin-top: 22px;
	padding-top: 20px;
	padding: 20px;
	width: 3%;
	float: left;
}
.header {
	width: 100%;
	height: 70px;
}
.list:nth-child(1) {
	margin-top: 0;
	width: 25%;
}
.box {
	width: 100%;
	height: 1000px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
}
a {
	color: #fff;
}
/*header end*/


/*section start*/
.section {
	width: 100%;
	height: 930px;
	background-image: url(../images/vector-1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}
.contener {
	margin-left: auto;
	margin-right: auto;
	padding-top: 109px;
	width: 	94%;
	height: 560px;
}
.contener-left {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-color: #fff;
	border-radius: 50px;
	float: right;
	width: 	569px;
	height: 554px;
}
.btn {
	margin-top: 76px;
	width: 97px;
	height: 40px;
	border-radius: 0px 8px 8px 0px;
	color: #31546D;
	background-color: #8A93E5;
	border: 0;
}
.contener-left p {
	text-align: center;
	color: #818181;
}
.contener-left b { color: #317189; }
.contener-left-2 {
	width: 300px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
}

.contener-right {
/*	padding: 20px;*/
	margin-top: 70px;
	float: left;
	width: 	47%;
	height: 300px;
}
.contener-right h2 {
 	color: #ffffff;
	padding-left: 20px;
	font-weight: 400;
}
.contener-right h1 {
	color: #fff;
	padding: 20px;
	font-size: 40px;
	font-weight: 400;
}
.contener-right p {
	padding: 20px;
	color: #31546D;
	font-size: 16px;
	font-weight: 400;
}
.contener-right b {
	color: #317189;
	opacity: 0.4;
}
.contener-right button {
	margin-right: 50px;
	color: #31546D;
	margin-left: 20px;
	margin-top: 20px;
	width: 180px;
	height: 56px;
	border-radius: 18px;
	border: 0;
}
.contener-right button:focus {
	transition: 1s;
	color: #fff;
	background-color:  #31546D;
}
.btn1 {
	margin-right: 30px;
	border-radius: 4px;
	border: 0;
	background-color: #8A93E5;
	width: 24px;
	height: 24px;
}

.btn10 {
	margin-left: 23px;
	border-radius: 4px;
	border: 0;
	background-color: #8A93E5;
	width: 24px;
	height: 24px;
}
.more-btn {
	color: #D7DBFF;
	margin-top: 300px;
	border-radius: 50%;
	margin: 7px;
	width: 20px;
	height: 20px;
	border: 0 ;
	background-color: #D7DBFF;
}
.more-btn:nth-child(1) {
	background-color: #D7DBFF;
}
.more-btn-box {
	width: 400px;
	height: 50px;
	margin-top: 85px;
}
.scrol {
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	width: 121px;
	height: 38px;
	background-color: ;
	color: ;
	border: 0;
}
.scrol h4 {
	margin-top: 4px;
	color: #D7DBFF;
	float: right;
}
.scrol i {
	font-size: 28px;
	float: left;
}

.section {
	width: 100%;
	height: 200px;
}
/*section end*/
		


/*nav start*/
.navigation {
	width: 100%;
	height: 1000px;
	background: url(../images/orqabg.svg);
}
.lits {
	margin-left: 110px;
}
.select {
	border: 0;
}
.items-1  {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 95%;
	height: 468px;
}
.list-1 {
	margin-top: 30px;
	margin-right: 15px;
	float: left;
	width: 322px;
	height: 412px;
	border-radius: 30px;
	border: 2px solid #F2F2F2;
}
.list-1:hover {
	transition: 1s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list-1 p{
	font-size: 20px;
	color: #4F4F4F;
	margin-top: 30px;
}
.lits h1{
	text-align: center;
}
.list-1 b {
	color: #317189;
}
.list-1:nth-child(1) {
	margin-left: 64px;
	box-shadow: -1px 27px 42px -24px rgba(34, 60, 80, 0.6);
}
.list-1 button {
	box-shadow: -1px 27px 42px -24px rgba(34, 60, 80, 0.6);
	width: 180px;
	height: 56px;
	border-radius: 18px;
	margin-top: 30px;
	background-color: #70B8FB73;
	color: #fff;
	border: 0;
}
.list-1 button:focus {
	color: #70B8FB73;
	transition: 1s;
	background-color: #fff;
	border: 2px solid #70B8FB73;
}
/*mav end*/

/*footer start*/
.bock {
	background-color: #76D7FE;
}
.naigation {
	text-align: center;
	background: url(../images/bg5.png) no-repeat;
	background-size: 100% 1052px;
	width: 100%;
	height: 1067px;
}
.naigation button {
	width: 	134px;
	height: 48px;
	border-radius: 	18px;
	border: 2px solid #75CCEB;
	background-color: 	#fff;
	color: 	#75CCEB;
}
.naigation button:focus	 {
	transition: 1.5s;
	background-color: #75CCEB;
	color: 	#fff;
}
.box-footers {
	margin-top: 140px;
	width: 	100%;
	height: 744px;
	margin-right: auto;
	margin-left: auto;
}
.texts {
	margin-top: 70px;
	float: left;
	width: 	40%;
	height: 444px;
	text-align: right;
}
.images1 {
	margin-top: 70px;
	float: right;
	width: 	58%;
	height: 744px;
	text-align: center;
}
.texts h1 {
	margin-top: 120px;
	font-size: 64px;
	color: #31546D;
}
.texts h3 b {
	font-size: 24px;
	color: #41A0B7;
}
.texts h3 {
	font-size: 70px;
	color: #E35B3E;
}
.texts p {
	color: #31546D;
}
.big {
	background-color: #fff;
	opacity: 1	;
	margin: -108px;
	padding-top: ;
	margin-right: auto;
	margin-left: auto;
	padding: 50px;
	text-align: center;
	box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.75);
	width: 744px;
	height: 744px;
	border-radius: 50%;
	border: 0;
}
.norm {
	background-color: #fff;
	padding-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin: 92px;
	text-align: center;
	box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.75);
	width: 570px;
	height: 570px;
	border-radius: 50%;
	border: 0;
}
.small {
	background-color: #fff;
	padding-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin: 103px;
	text-align: center;
	box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.75);
	width: 364px;
	height: 364px;
	border-radius: 50%;
	border: 0;
}
.small img {
	margin: 58px;
}
/*footer end*/
.aqibash {
	width: 	100%;
	height: 269px;
	background-color: #0A294DCC;
}